.nrepl-port
*.class
*.jar
/.calva/output-window
/.clj-kondo/.cache
/.clj-kondo/.cache
/.env
/.lein-*
/.lsp/.cache
/.lsp/.cache
/.shadow-cljs
/checkouts
/classes
/lib
/log
/log
/node_modules
/target
dev-config.edn
pom.xml
profiles.clj
test-config.edn
